<!DOCTYPE HTML>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>bluewrite | <%- pageTitle %></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="noindex">

    <%- include head.ejs %>
    
    <link rel="stylesheet" href="/files/css/general.css?v=9" />
    <link rel="stylesheet" href="/files/css/books.css?v=9" />
  </head>
  <body>
    <div id="toolsBar">
        <a href="<%- appTitleRedirect %>" id="appTitle"><h1>bluewrite</h1></a>
        <p id="appTitleBy">, by</p>
        <a href="https://chevro.fr" id="appTitleChevroLink"><h2 id="appTitleChevro">CHEVRO</h2></a>
        <div id="separator"></div>
        <a href="/notes#search" id="searchButton"><svg><use xlink:href="/files/cicons/cicons.svg?v=9#search"></use></svg></a>
        <a href="/settings" id="settings"><svg><use xlink:href="/files/cicons/cicons.svg?v=9#settings"></use></svg></a>

        <button id="fullscreen">
            <svg id="fullscreen_enter"><use xlink:href="/files/cicons/cicons.svg?v=9#fullscreen"></use></svg>
            <svg id="fullscreen_exit"><use xlink:href="/files/cicons/cicons.svg?v=9#fullscreen_exit"></use></svg>
        </button>
    </div>

    <div id="content">
      <%- content %>
    </div>
    <a href="/notes" id="notes" class="floatingButton"><svg><use xlink:href="/files/cicons/cicons.svg?v=9#blwrt"></use></svg></a>

    <script src="/files/js/getParams.js?v=9"></script>
    <script src="/files/js/books.js?v=9"></script>
    <script src="/files/js/fullscreen.js?v=9"></script>
  </body>
</html>