<!DOCTYPE HTML>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>bluewrite</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="noindex">

    <%- include head.ejs %>
    
    <link rel="stylesheet" href="/files/css/general.css?v=9" />
    <link rel="stylesheet" href="/files/css/settings.css?v=9" />
  </head>
  <body>
        <div id="toolsBar">
            <a href="/notes" id="returnButton"><svg><use xlink:href="/files/cicons/cicons.svg?v=9#arrow_left"></use></svg></a>
            <h1 id="pageName"><%- pageName %></h1>
            <div id="separator"></div>

            <button id="fullscreen">
                <svg id="fullscreen_enter"><use xlink:href="/files/cicons/cicons.svg?v=9#fullscreen"></use></svg>
                <svg id="fullscreen_exit"><use xlink:href="/files/cicons/cicons.svg?v=9#fullscreen_exit"></use></svg>
            </button>
        </div>

        <div id="content">
        <p id="pseudo"><%- pseudo %></p>
        <a href="/logout" id="logout"><%- logoutString %></a>
        </div>
        <script src="/files/views_js/fullscreen.js?v=9"></script>
  </body>
</html>