/* NOTE TEXT */
.noteText {
    margin-bottom: 50px;
    margin-top: 50px;
}

.noteText h1, .noteText h2, .noteText h3, .noteText h4, .noteText h5, .noteText h6 {
    color: #00b4c4;
    font-weight: bold;
}

.noteText p{
    font-size: 1.15rem;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ffffff;
    word-wrap: break-word;
}

.noteText strong {
    word-wrap: break-word;
    color: #00b4c4;
}

.noteText em {
    word-wrap: break-word;
    font-style: italic;
    color: #003f45;
}

.noteText blockquote {
    margin-left: 2rem;
    border-left-style: solid;
    border-left-color: #00b4c4;
    border-left-width: 3px;
    padding-left: 7px;
}

.noteText pre {
    background-color: #2e2e2e;
    padding: 15px;
    border-radius: 3px;
    font-size: 1rem;
    overflow: auto;
    margin-right: 0;
    margin-left: 0;
}

.noteText pre code {
    color: #ffffff;
    font-family: "FiraCode";
}

.noteText p>code {
    background-color: #2e2e2e;
    padding: 1px;
    padding-right: 3px;
    padding-left: 3px;
    border-radius: 3px;
    font-family: "FiraCode";
}
.noteText li>code {
    background-color: #2e2e2e;
    padding: 1px;
    padding-right: 3px;
    padding-left: 3px;
    border-radius: 3px;
    font-family: "FiraCode";
}

.noteText pre p {
    margin: 0;
}

.noteText a {
    text-decoration: underline;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
}

.noteText img {
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    max-height: 15rem;
}

.noteText ul {
    padding-left: 20px;
}

.noteText li {
    color: #fff;
    font-size: 1.15rem;
}
.noteText li>p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.noteText table {
    font-size: 1.15rem;
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid #fff;
}

.noteText table td {
    color: #fff;
    border: 1px solid #fff;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

.noteText table th {
    color: #fff;
    border: 1px solid #fff;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

/*          TASK LIST             */
.noteText .task-list-item {
    position: relative;
}

.noteText .task-list-item input {
    margin-right: 25px !important;
    opacity: 0;
}

.noteText .task-list-item::before {
    content: "";
    display: inline-block;
    height: 16px;
    width: 16px;
    border: 1px solid;
    position: absolute;
    top: 3px;
}

.noteText .task-list-item::after {
    display: inline-block;
    height: 6px;
    width: 9px;
    border-left: 3px solid;
    border-bottom: 3px solid;
    border-color: #fff;
    transform: rotate(-45deg);
    position: absolute;
    left: 4px;
    top: 7px;
}

.checked::after {
    content: "";
}