@keyframes rotate{
    to{ transform: rotate(360deg); }
}

/* ##################################################################
#########################                ############################
#########################   TOOLS BAR    ###########################
#########################                ############################
#####################################################################
###################################################################*/
#modalShare {
    display: none;
    text-align: end;
    position: fixed;
    right: 0;
    top: 50px;
    background: #00b4c4;
    border-radius: 5px;
    padding: 8px;
    margin: 8px
}

@media all and (max-width: 600px) {
    #modalShare {
        position: initial;
    }
}

#addShare {
    padding-top: 10px;
    display: flex;
}

#addShareInput {
    background: #0d0d0d;
    border: none;
    padding: 3px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 1.2em;
    vertical-align: middle;
    flex: 1;
    min-width: 0;
    font-family: "FiraCode";
}

#addShareSubmit {
    background: none;
    padding: 0;
    border: none;
    vertical-align: middle;
    margin-left: 8px;
}

#addShareSubmit svg {
    width: 2em;
    height: 2em;
    fill: #0d0d0d;
    transition: fill .3s;
}

#addShareSubmit:hover svg {
    fill: #fff;
}

.shareListElement {
    display: flex;
    align-items: center;
}

.shareListName {
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.2em;
}

.shareListRemove {
    background: transparent;
    border: none;
    padding: 0;
    color: #0d0d0d;
}

.shareListRemove svg {
    width: 2.2em;
    height: 2.2em;
}

.shareListCanEdit {
    padding: 0;
    border: none;
    background: transparent;
    color: #0d0d0d;
    margin-left: 10px;
    height: 2em;
}

.shareListCanEdit svg {
    width: 2em;
    height: 2em;
}

.separator {
    flex: 1;
}

.shareListSeparator {
    margin-top: 2px;
    margin-bottom: 2px;
    border: none;
    width: 70%;
    border-top: 2px solid #0d0d0d;
}

#noShare {
    text-align: start;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #0d0d0d;
    font-size: 1.2em;
    font-weight: bold;
}

#modalDelete {
    display: none;
    position: fixed;
    right: 0;
    top: 50px;
    background: #00b4c4;
    border-radius: 5px;
    padding: 8px;
    margin: 8px;
}

#modalDelete p {
    margin: 0;
    font-size: 1.3em;
}

#modalDelete div {
    margin-top: 15px;
}

#modalDelete div button {
    background: #0d0d0d;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 5px;
    padding-right: 9px;
    padding-left: 9px;
    font-size: 1.2em;
    height: auto;
}

#modalDelete div button:hover {
    background: #0d0d0d;
}

#note-toolsBar {
    display: flex;
    justify-content: flex-end;
    background: #00b4c4;
    align-items: center;
    height: 3em;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

#separator {
    flex: 1;
}

svg {
    width: 2em;
    height: 100%;
    fill: #fff;
    transition: fill .3s;
}

svg:hover {
    fill: #003f45;
}

button {
    height: 3em;
    background: transparent;
    border-style: none;
    margin: 0;
    padding: 0;
}

#edit, #shareButton, #deleteButton, #normalMode, #diapoMode, #newsMode {
    margin-right: 10px;
}

#edit {
    height: 3em;
}

#normalMode, #shareButton {
    margin-left: 10px;
}

#normalMode svg {
    fill: #5ff2ff;
}

#returnButton {
    padding-right: 10px;
    padding-left: 10px;
    height: 2em;
}

#returnButton .loading {
    animation: rotate 1.5s linear infinite;
}

#fullscreen {
    background: #003f45;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

#fullscreen_exit {
    display: none;
}

#fullscreen svg:hover {
    fill: #00b4c4;
}

#switchMode {
    background: #003f45;
    height: 3em;
    align-items: center;
    display: flex;
}

#switchMode svg:hover {
    fill: #00b4c4;
}

/* ##################################################################
#########################                ############################
#########################      NOTE      ###########################
#########################                ############################
#####################################################################
###################################################################*/

#noteTitle {
    margin-top: 10px;
    margin-bottom: 35px;
    font-size: 2em;
    color: #ffffff;
}

#little_separator {
    width: 15em;
    height: 2px;
    background: #aaaaaa;
    margin-top: 10px;
    margin-bottom: 20px;
}

.noteBook {
    color: #f1f1f1;
    text-decoration: none;
}

.noteBook:hover .noteBookName {
    color: #00b4c4;
}

.noteBook:hover svg {
    fill: #00b4c4;
}

.noteBook svg {
    width: 1.3em;
    height: 1.3em;
    vertical-align: text-bottom;
    fill: #fff;
    transition: fill .3s;
    margin-right: 5px;
}

.noteBookName {
    display: inline;
    vertical-align: middle;
    margin-left: 5px;
    transition: color .3s;
}

/* ##################################################################
#########################                ############################
#########################      EDIT      ###########################
#########################                ############################
#####################################################################
###################################################################*/

#titleInput {
    display: none;
}

#titleText {
    display: block;
    width: 100%;
    background: none;
    border: none;
    font-size: 2em;
    color: #ffffff;
    min-height: 1em;
    margin-bottom: .4em;
}

#booksInputLabel-top {
    display: none;
    color: #aaaaaa;
    font-size: 1em;
}

#booksInputLabel-right {
    display: inline;
    color: #aaaaaa;
    font-size: 1em;
}

#newBookInput {
    display: none;
    margin-top: 10px;
    background: #0d0d0d;
    border-color: #f1f1f1;
    border-style: solid;
    padding: 3px;
    border-radius: 5px;
    color: #ffffff;
    width: 15em;
    font-size: 1.2em;
    font-family: "FiraCode";
}

#newBookSubmit {
    display: none;
    text-decoration: none;
    color: #00b4c4;
    font-size: 1.5em;
    vertical-align: middle;
    transition: fill .3s;
    font-family: "FiraCode";
}

#newBookSubmit:hover svg {
    fill: #fff;
}

#newBookSubmit svg {
    width: 1.2em;
    height: 1.2em;
    vertical-align: sub;
    fill: #00b4c4;
}

#buttonHideNewBook {
    display: none;
    background: #FF8080;
    text-decoration: none;
    color: #ffffff;
    font-size: 1em;
    border-radius: 50%;
    padding: 6px 6px 1px 5px;
}

#buttonHideNewBook svg {
    width: 1em;
    height: 1em;
    transition: rotate .3s;
    fill: #fff;
}

#buttonHideNewBook:hover svg {
    rotate: 360deg;
}

#buttonShowNewBook {
    display: inline;
    background: #00b4c4;
    text-decoration: none;
    color: #ffffff;
    font-size: 1em;
    border-radius: 50%;
    padding-top: 5px;
    padding-bottom: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

#buttonShowNewBook svg {
    width: 1em;
    height: 1em;
    transition: rotate .3s;
    fill: #fff;
}

#buttonShowNewBook:hover svg {
    rotate: 360deg;
}

#booksSelector {
    background: #0d0d0d;
    border-color: #ffffff;
    border-style: solid;
    border-radius: 5px;
    padding: 3px;
    color: #ffffff;
    font-size: 1.2em;
    font-family: "FiraCode";
}

#noteInput {
    display: none;
}

#modalErrorWrapper {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 500;
    background: rgba(0, 0, 0, 0.8);
}

#modalError {
    display: block;
    background: #00b4c4;
    border-radius: 5px;
    padding: 8px;
    margin: 8px;
    max-width: 15em;
    padding: 15px;
}

#modalErrorText {
    color: #fff;
    font-weight: bold;
    margin: 0;
    font-size: 1.2em;
}

#modalErrorAnswerDiv {
    text-align: end;
    margin-top: 20px;
}

#modalErrorAnswer {
    margin: 0;
    height: 100%;
    background: #fff;
    border-radius: 5px;
    padding: 2px 10px 3px 8px;
    font-size: 1.2em;
    font-weight: bold;
    transition: all .3s;
    color: #003f45;
}

#modalErrorAnswer:hover {
    background: #003f45;
    color: #fff;
}

#editor-loading {
    font-size: 5em;
    text-align: center;
    margin-top: 1em;
}

#editor-loading svg {
    animation: rotate 2s linear infinite;
    fill: #fff;
}

@media all and (max-width: 620px) {
    #little_separator {
        width: 10em;
    }

    #booksInputLabel-top {
        display: block;
    }

    #booksInputLabel-right {
        display: none;
    }
}

@media all and (max-width: 400px) {
    #little_separator {
        width: 5em;
    }
    #newBookInput {
        width: 10em;
    }
}

@media all and (max-width: 340px) {
    #booksSelector {
        width: 7em;
    }
}

@media all and (max-width: 300px) {
    #newBookInput {
        width: 6em;
    }
}


#edit-content {
    display: none;
}